<div class="modal fade" id="modalImage{{image.id}}" tabindex="-1" aria-labelledby="modalImageLabel" aria-hidden="true">
    <div class="modal-dialog d-flex align-items-center">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Image</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure to want to delete this Image?
            </div>
            <div class="modal-footer">
                <form class="col-6" method="post" action="{{ path('media_delete_image', {'id': image.id}) }}">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ image.id) }}">
                    <button class="btn btn-outline-success w-100" >Sure !</button>
                </form>
                <button type="button" class="btn btn-outline-danger col-6" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>