/*------login page------*/

.login-wrap {
    position: relative;
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.login-wrap .img {
    width: 160px;
    height: 120px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.ftco-section {
    background-color: #99deff;
}

.form-group {
    position: relative;
    margin-bottom: 1rem;
}

.form-group .icon {
    position: absolute;
    top: 0;
    left: 5px;
    bottom: 0;
    width: 20px;
    height: 48px;
    background: transparent;
    font-size: 18px;
    color: white;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fa-user:before {
    content: "\f007";
}

.form-control {
    width: 100%;
    padding: .7rem 1rem;
    padding-left: 30px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.8) !important;
    background: #1a252f;
    background-clip: padding-box;
    border: none;
    border-bottom: 1px solid #99deff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }

  input[type=file] {
    padding: .375rem .75rem !important;
    line-height: 2;
  }

::placeholder {
    color: white !important;
}

.btn-login {
    background: linear-gradient(#212529, #212529) padding-box,
        linear-gradient(to right, var(--bs-secondary), #99deff) border-box;
    background-color: #343a40;
    border: 4px solid transparent;
    color: #fafafacc;
    text-decoration: none;
    transition: all .4s ease;
}

.btn-login:hover,
.btn-login:focus {
    background: linear-gradient(var(--bs-secondary), #99deff) padding-box,
        linear-gradient(#fafafacc, #fafafacc) border-box;
    background-color: #343a40;
    color: #1a252f;
    border: 4px solid transparent;
}


@media (max-width: 767px) {

    .masthead {
        display: flex!important;
        justify-content: center!important;
        align-items: center!important;
        padding: auto 0;
    }

}