{% extends "common/template.html.twig" %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('assets/css/trick.css') }}">
{% endblock %}

{% block javascripts %}
<script src="{{ asset('assets/js/trick.js') }}" defer></script>
{% endblock %}

{% block content %}
<!-- Masthead-->
<header class="masthead bg-primary text-white text-center d-flex flex-column px-2">
    <div class="container d-flex align-items-center flex-column">
        {% if app.user and app.user.isVerified == true %}
        <!--Manager button-->
        <div class="align-self-end">
            <a href="{{ path('app_edit_trick') }}" class="btn btn-home-grid mx-3 my-auto rounded shadow-lg">
                <i class="fa fa-pen fa-xl p-1" style='color: #fafafacc'></i>
            </a>
            <button class="btn btn-home-grid my-auto rounded shadow-lg" data-bs-toggle="modal"
                data-bs-target="#exampleModal">
                <i class="fa fa-trash fa-xl p-1" style='color: #fafafacc'></i>
            </button>
        </div>
        {% endif %}
        <!-- Masthead Trick Title-->
        <h1 class="masthead-heading text-uppercase text-secondary mb-0">Trick Name</h1>
        <!-- Masthead Subheading-->
        <p class="masthead-subheading font-weight-light text-secondary mb-0">Trick group</p>
    </div>
</header>
<!-- Trick Section-->

<section class="page-section portfolio d-flex flex-column py-5 shadow" id="trick-list">
    <!-- Portfolio Section Heading-->
    <h2 class="page-section-heading text-center text-uppercase text-primary mb-5" id="trick-list">
        Media
    </h2>
    <!--Trick Carrousel-->
    <div id="container">
        <div id="slider-container" class="position-relative">
            <span onclick="slideRight()" class="carousel-btn carousel-control-prev">
                <i class="fa fa-arrow-left fa-xl prev-icon"></i>
            </span>
            <div id="slider">
                {% for i in 0..4 %}
                <div class="slide-item">
                    <div class="carousel-item d-block active">
                        <div class="card portfolio-item mx-auto">
                            <div class="position-relative">
                                <div
                                    class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                    <div class="portfolio-item-caption-content text-center text-secondary">
                                        See it !
                                    </div>
                                </div>
                                <img src="https://via.placeholder.com/300x200" class="card-img-top" alt="...">
                            </div>
                            <div class="card-body d-flex  justify-content-center">
                                <div class="d-flex justify-content-center">
                                    <div class="d-flex">
                                        <i class="fa-brands fa-youtube fa-2xl my-auto" style="color: #ff0000;"></i>
                                        <h5 class="card-title my-auto mx-3">Video</h5>
                                    </div>
                                    <!--<div class="d-flex">
                                        <a href="editTrick.html" class="btn btn-home-grid mx-2 my-auto rounded">
                                            <i class="fa fa-pen" style='color: #fafafacc'></i>
                                        </a>
                                        <button href="#" class="btn btn-home-grid my-auto rounded"
                                            data-bs-toggle="modal" data-bs-target="#exampleModal">
                                            <i class="fa fa-trash" style='color: #fafafacc'></i>
                                        </button>
                                    </div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>      
                {% endfor %}
                {% for i in 0..4 %}
                <div class="slide-item">
                    <div class="carousel-item d-block active">
                        <div class="card portfolio-item mx-auto">
                            <div class="position-relative">
                                <div
                                    class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                    <div class="portfolio-item-caption-content text-center text-secondary">
                                        See it !
                                    </div>
                                </div>
                                <img src="https://via.placeholder.com/300x200" class="card-img-top" alt="...">
                            </div>
                            <div class="card-body d-flex  justify-content-center">
                                <div class="d-flex justify-content-between">
                                    <div class="d-flex">
                                        <i class="fa fa-image fa-2xl my-auto" style='color: #fafafacc'></i>
                                        <h5 class="card-title my-auto mx-3">Image</h5>
                                    </div>
                                    <!--<div class="d-flex">
                                        <a href="editTrick.html" class="btn btn-home-grid mx-2 my-auto rounded">
                                            <i class="fa fa-pen" style='color: #fafafacc'></i>
                                        </a>
                                        <button href="#" class="btn btn-home-grid my-auto rounded"
                                            data-bs-toggle="modal" data-bs-target="#exampleModal">
                                            <i class="fa fa-trash" style='color: #fafafacc'></i>
                                        </button>
                                    </div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>   
                {% endfor %}
            </div>
            <span onclick="slideLeft()" class="carousel-btn carousel-control-next">
                <i class="fa fa-arrow-right fa-xl next-icon"></i>
            </span>
        </div>
    </div>
    <!--Trick description-->
    <div class="container">
        <h2 class="page-section-heading text-center text-uppercase text-primary mb-5 pt-5" id="trick-list">
            Description
        </h2>
        <div class="container" style='color: #fafafacc'>
            <p>The European languages are members of the same family. Their separate existence is a myth. For
                science, music, sport, etc, Europe uses the same vocabulary. The languages only differ in their
                grammar, their pronunciation and their most common words. Everyone realizes why a new common
                language would be desirable: one could refuse to pay expensive translators.</p>

            <p>To achieve this, it would be necessary to have uniform grammar, pronunciation and more common words.
                If several languages coalesce, the grammar of the resulting language is more simple and regular than
                that of the individual languages. The new common language will be more simple and regular than the
                existing European languages.</p>

            <p>It will be as simple as Occidental; in fact, it will be Occidental. To an English person, it will
                seem like simplified English, as a skeptical Cambridge friend of mine told me what Occidental is.
                The European languages are members of the same family. Their separate existence is a myth. For
                science, music, sport, etc, Europe uses the same vocabulary. The languages only differ in their
                grammar, their pronunciation and their most common words. Everyone realizes why a new common
                language would be desirable: one could refuse to pay expensive translators</p>
        </div>
        <!-- Trick Informations-->
        <div class="d-flex flex-wrap justify-content-center">
            <span class="badge bg-info p-3 m-3">Trick group</span>
            <span class="badge bg-light p-3 m-3 text-dark">Trick publication date</span>
            <span class="badge bg-success p-3 m-3">Trick publication update date</span>
        </div>
        <hr>
        {% if app.user and app.user.isVerified == true %}
        <!-- Leave a comment -->
        <div class="container">
            <form action="#" class="login-form mx-auto">
                <div class="form-group">
                    <div class=" d-flex flex-wrap align-items-center justify-content-center py-4">
                        <textarea name="comment" id="comment" class="form-control text-white rounded" rows='5' cols="50"
                            placeholder="Post a comment" required></textarea>
                        <input type="submit" name="submit" id="submit"
                            class="btn btn-home-grid mx-3 mt-4  rounded shadow-lg" value="Post a comment">
                        </input>
                    </div>
                </div>
            </form>
            <hr>
        </div>
        {% endif %}
        <!-- comments-->
        <div class="comment d-flex justify-content-center my-4">
            <div class="comment-body d-flex my-auto" style='color: #fafafacc'>
                <div class="d-flex">
                    <i class="mx-3 fa fa-user-circle-o fa-3x"></i>
                    <h5 class="mx-3">
                        Jhon Doe
                    </h5>
                </div>
                <div>
                    <p class="text-muted fw-bold mx-3">Le 13/09/2022</p>
                    <p class="mx-3">
                        Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate
                        at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia
                        congue felis in faucibus.
                    </p>
                </div>
            </div>
        </div>
        <div class="comment d-flex justify-content-center my-4">
            <div class="comment-body d-flex my-auto" style='color: #fafafacc'>
                <div class="d-flex">
                    <i class="mx-3 fa fa-user-circle-o fa-3x"></i>
                    <h5 class="mx-3">
                        Jhon Doe
                    </h5>
                </div>
                <div>
                    <p class="text-muted fw-bold mx-3">Le 13/09/2022</p>
                    <p class="mx-3">
                        Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate
                        at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia
                        congue felis in faucibus.
                    </p>
                </div>
            </div>
        </div>
        <div class="comment d-flex justify-content-center my-4">
            <div class="comment-body d-flex my-auto" style='color: #fafafacc'>
                <div class="d-flex">
                    <i class="mx-3 fa fa-user-circle-o fa-3x"></i>
                    <h5 class="mx-3">
                        Jhon Doe
                    </h5>
                </div>
                <div>
                    <p class="text-muted fw-bold mx-3">Le 13/09/2022</p>
                    <p class="mx-3">
                        Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate
                        at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia
                        congue felis in faucibus.
                    </p>
                </div>
            </div>
        </div>
        <div class="comment d-flex justify-content-center my-4">
            <div class="comment-body d-flex my-auto" style='color: #fafafacc'>
                <div class="d-flex">
                    <i class="mx-3 fa fa-user-circle-o fa-3x"></i>
                    <h5 class="mx-3">
                        Jhon Doe
                    </h5>
                </div>
                <div>
                    <p class="text-muted fw-bold mx-3">Le 13/09/2022</p>
                    <p class="mx-3">
                        Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate
                        at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia
                        congue felis in faucibus.
                    </p>
                </div>
            </div>
        </div>
        <div class="comment d-flex justify-content-center my-4">
            <div class="comment-body d-flex my-auto" style='color: #fafafacc'>
                <div class="d-flex">
                    <i class="mx-3 fa fa-user-circle-o fa-3x"></i>
                    <h5 class="mx-3">
                        Jhon Doe
                    </h5>
                </div>
                <div>
                    <p class="text-muted fw-bold mx-3">Le 13/09/2022</p>
                    <p class="mx-3">
                        Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate
                        at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia
                        congue felis in faucibus.
                    </p>
                </div>
            </div>
        </div>
        <!-- Load more -->
        <div class="d-flex justify-content-center align-items-center">
            <button href="#" class="btn btn-home-grid load mx-3 my-auto" style="color: #fafafacc">
                <i class="fa fa-spinner" style='color: #fafafacc'></i>
                Load More Comments...
            </button>
        </div>

    </div>

</section>

{% endblock %}