<h1>Reset your snowtricks password</h1>
<p>Hi {{ user.username }},</p>
<p>Reset your password account by clicking on the activation link below :</p>
<a href="{{ url|raw }}">Account reset password link</a>